@{
    ViewData["Title"] = "Home";
}

<div class="container text-center mt-5">
    <h1>Welcome to Ellie's Movie and Actor Management Site!</h1>
    <p class="lead mt-3">Explore and manage a collection of movies and actors with ease.</p>

    <div class="card mt-4 mb-5 p-3">
        <h3>About This Website</h3>
        <p>This website allows you to:</p>
        <ul class="list-unstyled">
            <li>📝 <strong>View, create, edit, and delete movies and actors</strong> in your database.</li>
            <li>🎬 <strong>Explore movie details</strong> with relevant Tweets.</li>
            <li>🌟 <strong>Analyze the sentiment</strong> of reviews to gain insights into each movie.</li>
            <li>📊 <strong>Link actors to movies</strong> to build a comprehensive network of information.</li>
        </ul>
    </div>

</div>
